@{
    ViewData["Title"] = "Home Page";
}


<div id="firstRow">
    <a class="anchorhomefirst" asp-action="About"> <img class="imghome" src="~/images/Car (2).png" /> Veicoli</a>
    <a class="anchorhomefirst" asp-controller="Home" asp-action="About"> <img class="imghome" src="~/images/Stato.png" /> Stato</a>
    <a class="anchorhomefirst" asp-controller="Home" asp-action="About"> <img class="imghome" src="~/images//Scadenze.png" /> Scadenze</a>
</div>
<div id="secondRow">
    <a class="anchorhomesecond" asp-controller="Home" asp-action="About"> <img class="imghome" src="~/images/Manutenzioni.png" /> Manutenzioni</a>
    <a class="anchorhomesecond" asp-controller="Home" asp-action="About"> <img class="imghome" src="~/images/Utilizzo.png" /> Utilizzo</a>
</div>