<div class="grid grid-pad">
  <a class="col-1-4"
      routerLink="/cars">
    <div class="module">
      <img [src]="imgCar"> 
      <div>Veicoli</div>
    </div>
  </a>
    <a class="col-1-4"
        routerLink="/state"
        >
      <div class="/module">
          <img [src]="imgState"> 
          <div>Stato</div>
      </div>
    </a>
    <a class="col-1-4"
        routerLink="/state"
        >
      <div class="module">
          <img [src]="imgExpiry"> 
          <div>Stato</div>
      </div>
    </a>
     <a class="col-1-4" 
        routerLink="/utilization">
      <div class="module">
          <img [src]="imgUtilization"> 
          <div>Utilizzo</div>
      </div>
    </a>
</div>